<h1>Home page</h1>

<p>This mini-app that provides a simplified mission planning capability, empowering operators to
create and visualise robot movement. This means that the operator should be able to create a list with an
arbitrary number of 2D points and watch the robot navigate them in a dedicated visualisation area.</p>

<h2>App Structure</h2>
<p>The app is structured into 3 main components:</p>
<ul>
  <li><strong>Home:</strong> A landing page that provides information about the app.</li>
  <li><strong>Planner:</strong> Allows operator to plan the route for the robot to perform an inspection adding new points in table .</li>
  <li><strong>Player:</strong> Operator can visualize the route that the robot will valk to make sure all the points are correct.</li>
</ul>


<h3>Running the App Locally</h3>
<p>Before running the app, make sure you have the following installed:</p>
<ul>
  <li>Node.js</li>
  <li>Angular CLI</li>
<li>Angular Material</li>
</ul>



<p>Follow these steps to get the app running on your local machine:</p>

<ol>
  <li>Clone the repository: <code>git clone https://github.com/DanielTomaCucu/mission-planner.git</code></li>
  <li>Navigate to the project directory: <code>cd mission-planner</code></li>
  <li>Install dependencies: <code>npm install</code></li>
  <li>Start the app: <code>ng serve</code></li>
  <li>Open your browser and visit <code>http://localhost:4200/</code></li>
</ol>

