<h1>Player page</h1>
<div class="container-player-page">
  <div>
    <h2>Mission</h2>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let point of points"
        >{{ point.id }} {{ point.name }}</mat-list-item
      >
    </mat-list>
  </div>
  <div>
    <svg width="400" height="400" style="border: 1px solid black">
      <!--Static points-->
      <circle
        *ngFor="let point of points"
        [attr.cx]="point.x"
        [attr.cy]="point.y"
        r="8"
        fill="red"
      />
      <!--Static lines-->
      <line
        *ngFor="let line of getLines()"
        [attr.x1]="line.x1"
        [attr.y1]="line.y1"
        [attr.x2]="line.x2"
        [attr.y2]="line.y2"
        stroke="black"
      />
      <!--The Robot, the moving element-->
       <circle
        *ngIf="currentIndex >= 0"
        [attr.cx]="points[currentIndex].x"
        [attr.cy]="points[currentIndex].y"
        r="10"
        fill="green"
      />
    </svg>
    <div>
      <button (click)="play()">Play</button>
      <button (click)="stop()">Stop</button>
    </div>
  </div>
</div>
